@tailwind base;
@tailwind components;
@tailwind utilities;

.my-input {
  @apply rounded-sm;
}
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
 
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
 
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
 
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
 
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
 
    --ring: 240 5% 64.9%;
 
    --radius: 2px;
    
  }
 
  .dark {
    --background: 240 23% 6%;
    --foreground: 0 0% 98%;
 
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
 
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
 
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
 
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 240 3.7% 15.9%;

    --card-empty: 240, 19%, 11%, 1;

    --main: 70, 97%, 60%, 1;

    --draft-empty: 240, 19%, 11%, 1;

    --yellow: 70, 97%, 60%, 1;
    --yellow-hover: 70, 97%, 50%, 1;
    --yellow-text: 70, 59%, 4%, 1;
    --yellow-second: 61, 100%, 40%, 1;
    --yellow-transparent : 70, 97%, 60%, .2;

    --red: 0, 80%, 52%, 1;
    --blue: 212, 96%, 57%, 1;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.circle-loader {
  animation: rotate 2s linear infinite;
}

.circle-loader .path {
  stroke-dasharray: 1, 150;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite;
}

.circle-loader.black .path {
  stroke: #000; /* This is black color, change it to match your design */
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

/* styles/SendingAnimation.css */
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.sending-animation {
  display: inline-block;
  font-size: 16px;
  white-space: nowrap;
}

.sending-animation-dot {
  display: inline-block; /* Change position to display */
  opacity: 0;
  width: 0.4em; /* Add fixed width */
  text-align: center; /* Center the dot within the fixed width */
  animation: blink 1.5s infinite;
}

.sending-animation-dot:nth-child(1) {
  animation-delay: 0.2s;
}

.sending-animation-dot:nth-child(2) {
  animation-delay: 0.25s;
}

.sending-animation-dot:nth-child(3) {
  animation-delay: 0.5s;
}

/*----------------------------------------------*/

/* ... rest of the CSS code ... */

.glow-yellow {
  box-shadow: 0 0 10px rgba(220, 252, 53, .5);
}

.glow-yellow-10 {
  box-shadow: 0 0 5px rgba(220, 252, 53, .5);
}

.image-container {
  position: relative;
}

.splash-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  opacity: 0;
  transition: transform 0.1s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.splash-image-hover {
  transform: translate(-50%, -50%) scale(3);
  opacity: 1;
}

.animated-text {
  opacity: 0;
  z-index: 10;
  transition: all 0.1s cubic-bezier(0.25, 0.8, 0.25, 1) ;
}

.animated-text-hover {
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.animated-text-visible {
  opacity: 1;
}

.fade-gradient-left {
  mask-image: linear-gradient(to right, black 50%, transparent);
  -webkit-mask-image: linear-gradient(to right, black 50%, transparent);
}

.fade-gradient-right {
  mask-image: linear-gradient(to left, black 50%, transparent);
  -webkit-mask-image: linear-gradient(to left, black 50%, transparent);
}

.fade-in {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.2s cubic-bezier(0,.45,.54,1);
}

.fade-out {
  opacity: 0;
  transform: translateX(-5px);
  transition: all 0.2s cubic-bezier(0,.45,.54,1);
}

.planning .champion-pool {
  position: absolute;
  top: 0;
}

.team .champion-pool {
  position: absolute;
  top: 50%;
  transform: translateY(-10%);
}

